<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add teacher form</title>
</head>
<body>
    <form action = "http://127.0.0.1:443/add_teacher" method="post">
        <p><input type="text" id="teacherName" size="40" placeholder="Input teacher name"></p>
        <p><input type="text" id="teacherSubject" size="40" placeholder="Input teacher subject"></p>
        <input type="text" id="teacherTime" size="40" placeholder="Input teacher class time">
        <input type="submit" id="teacherAdd" value="Add">
    </form>
</body>
</html>